* {
    box-sizing: border-box;
    font-family: '標楷體';
    text-align: center;
    overflow: hidden;
}

.top,.footer,
.left>*,
.right>* {
    border: 1px solid lightgray;
}

.main {
    width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    padding: 0 12px;
}

.top {
    flex-basis: 1000px;
    height: 65px;
}

.left {
    flex-basis: 215px;
    height: calc(768px - 65px - 20px);
    display: flex;
    flex-direction: column;
}

.menu {
    flex-basis: calc(100% - 25px);
}

.menuHeader {
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    color: #FF00FF;
    margin: 10px auto;
    border-bottom: 1px solid black;
}

.menu>a {
    display: inline-block;
    width: 200px;
    height: 35px;
    background: url(./images/menu1.png) no-repeat;
    text-decoration: none;
    color: #000000;
    line-height: 35px;
    margin: 5px auto;
}

.menu>a:hover {
    background: url(./images/menu2.png) no-repeat;
}

.update {
    flex-basis: 25px;
    color: #000000;
    font-size: 16px;
    line-height: 25px;
}

.right {
    flex-basis: calc(100% - 215px);
    display: flex;
    flex-direction: column;
}

.marquee {
    flex-basis: 29px;
    font-size: 24px;
    color: #0000FF;
    padding: 0 calc((100% - 770px - 2px) / 2);
}

.content {
    flex-basis: calc(100% - 29px);
}

.footer {
    flex-basis: 1000px;
    height: 20px;
    color: #000000;
    font-size: 16px;
}